<header></header>
<h1>Felhasználó szerkesztése</h1>
<form #editUserForm="ngForm" (ngSubmit)="submitForm(editUserForm)" class="basic_style">
    <div class="form-group">
      <label for="formGroupExampleInput">Név</label>
      <input type="text" class="form-control" id="name" placeholder="{{getUser.name}}" [(ngModel)]="getUser.name" name="name">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">e-mail</label>
      <input type="text" class="form-control" id="email" placeholder="{{getUser.email}}" [(ngModel)]="getUser.email" name="email">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Telefonszám</label>
        <input type="text" class="form-control" id="phone" placeholder="{{getUser.phone}}" [(ngModel)]="getUser.phone" name="phone">
      </div>
      <button type="submit" class="btn btn-success customButton">Szerkesztés</button>
  </form>
<footer></footer>